@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-gray-100
  }
}

.main-container {
  @apply ml-0 md:ml-[260px] lg:ml-[340px] w-auto px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 14px;
}

.swiper {
  height: 20rem;
}

.swiper .swiper-wrapper .swiper-slide {
  transition: all 0.5s ease 0s;
  place-self: center;
}

.swiper-slide-prev, .swiper-slide-next {
  filter: blur(3px);
  margin-top: 2.5rem;
}

.swiper-slide-active .slide-active-hover {
  @apply w-full h-full transition-all duration-500 bg-gradient-to-r to-black/80 via-violet-950/90 from-transparent bg-size-200 bg-pos-0 hover:bg-pos-100 rounded-lg
}

.swiper-slide-active div div img {
  height: 16rem;
  filter: blur(0px);
  pointer-events: all;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: #7c3aed !important;
}

.resume .react-pdf__Page .textLayer, .resume .react-pdf__Page .annotationLayer {
  display: none;
}